
      <article>
      {% if massage %}
        <h2>{{massage}}</h2>
      {% endif %}

        <h1>Наши правила</h1>
        <section>
          <h2>Что мы такое?</h2>
          <p>
            Ну камон, тут всё просто. Постишь что-то годное, поднимешься вверх, станешь уважаемым появятся деньги и вырастит писька(но это не точно)
            Запостишь херню - получишь обратный эффект.
          </p>
        </section>
        <section>
          <h2>Про теги</h2>
          <p>
            На самом деле, обезьяна сначала придумала теги, а уже потом взяла палку. Из чего можно сделать логичный вывод, что теги полезная и нужная вещь. Она помогает ориентироваться в тонне постов,
            и фильтровать нравится/не нравится по своему выбору. Не будь как глупая обезьяна, будь как умная обезьяна - исползай теги.
            
          </p>
          <p>
            Особенно это касается "главных" тегов: nsfw, политика, жесть.
          </p>
          <p>
            Ну а если забьёшь хрен, палку возьмет админ и удалит пост. Забьёшь еще пару раз и удалить могут уже тебя.
          </p>
        </section>
      </article>
      
      <article>
        <section>
          <h2>Свзязь с нами</h2>
          <p>
            Остались вопросы? Ты смог сломал сайт? Напиши тогда на почту untiwe@gmail.com
          </p>
          <p>
            Или прямо тут, заполнив форму
          </p>
          {% if request.method == 'GET'  %}
          <form method="POST" class="feedback_form" id="feedback_form">

              {% csrf_token %}

              <p>Как обращаться</p>
              {{ form.name }}

              <p>Способ связи</p>
              {{ form.contacts }}

              <p>Вопрос</p>
              {{ form.text }}

              <button class="feedback_button temp_class_1 no_radius" type="submit">Отправить</button>
          </form>
          
          {% endif %}

          

        </section>
      </article>
   