
      <article>
      {% if massage %}
        <h2>{{massage}}</h2>
      {% endif %}

        <h1>Наши правила и принципы</h1>
        <section>
          <h2>Контент</h2>
          <p>
            Под контентом сайта подразумивается: Любой пост или часть поста.
            Коментарий или часть коментария. Текст, или часть текста, а так же
            картинки, видео или любой другой размещеный материал.
          </p>
          <p>
            Весь контент сайта TrueStorys прозводится пользователями и
            оценивается ими же. Опубликовать пост, коментарий или оценить их,
            может любой зарегистрированный пользователь.
          </p>
        </section>
        <section>
          <h2>Запрещеный контент</h2>
          <ul>
            <li>
              Текст, картинки и другой материал, запрещеный на территории
              Российской Федирации
            </li>
            <li>
              Контент, подходящий под разделы: “NSFW”, “Жесть” и “Политика” но
              не имеющие соответсвующих тегов.
            </li>
            <li>Реклама каких либо товаров и услуг.</li>
          </ul>

          <p>
            Администрация оставляет за собой право, удалять любой, запрещеный
            на сайте, контент. Так же, удалять любой контент на сайте, по
            указанию уполномоченых органов Российской Федирации
          </p>
        </section>
        <!-- <section>
          <h2>О постах</h2>
          <p>Посты с рейтингом 25 и ниже, скрываются, но остаются у пользователя.</p>
        </section> -->
      </article>
      
      <article>
        <section>
          <h2>Свзязь с нами</h2>
          <p>
            Если остальсь вопросы или пожелания, вы всегда можете написать нам на почту untiwe@gmail.com>
          </p>
          <p>
            Или прямо тут, заполнив форму
          </p>
          {% if request.method == 'GET'  %}
          <form method="POST" class="feedback_form" id="feedback_form">

              {% csrf_token %}

              <p>Как обращаться</p>
              {{ form.name }}

              <p>Способ связи</p>
              {{ form.contacts }}

              <p>Вопрос</p>
              {{ form.text }}

              <button class="feedback_button temp_class_1 no_radius" type="submit">Отправить</button>
          </form>
          
          {% endif %}

          

        </section>
      </article>
   