<div class="modal_window_fone">
    <div class="temp_class_1 modal_window_wrapper">
        <div class="header_modal_window">
            <div class="modal_window_heading"></div>
            <div class="modal_window_x" onclick="hide_modal_window()">x</div>
        </div>
        <div class="message_modal_window"></div>
        <div class="body_modal_window"></div>
    </div>
</div>

<script>

var modal_window_expanded_picture = 
    `<div class="modal_window_fone">
        <div class="modal_window_wrapper">
           
        </div>
    </div>`

</script>