 //$base_color: rgb(121, 151, 108); //  оливковый-2
 $base_color: rgb(114, 143, 102); //  оливковый-1
 $base_color_1: rgb(248, 247, 202); //  для  выпадающего списка в конструкторе поста. Пока всё 30.03.21
 $dark_base_color: rgb(92, 116, 82); //  оливковый-1
// $base_color: rgba(71, 128, 199, 1); //синий
//использовался на этапе проекта $base_color: rgba(80, 120, 250, 1);
$white: white;
$dark_grey: rgb(220, 220, 220);
$grey: rgba(243, 243, 243, 1);
$red: rgb(239, 67, 67);
$black: rgb(0, 0, 0);

.border {
  border: 1px solid black;
  
}

