{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/newpost.css' %}?v={{css_version}}" />
{% endblock head %}
{% block title %}
       Создание поста
{% endblock title %}
{% block header %}
  {{ block.super }}
{% endblock header %}


{% block content %}



  <form class="newpost">
  {% csrf_token %}
    <div class="newpost_cell">
      <input placeholder="Название поста" class="temp_class_1 newpost_text newpost_name" value="{{post_data.name}}"/>
      <div class="newpost_cell_btns newpost_name_btns"></div>
    </div>
    
    


    <div class="new_post_panel_btns">
      <img class="new_post_new_video_btn" src="{% static 'img/newpost/new_block_video.svg' %}?v={{static_version}}" alt="добавить видео" />
      <img class="new_post_new_text_btn" src="{% static 'img/newpost/new_block_text.svg' %}?v={{static_version}}" alt="добавить текст" />
      
      <input id="fotos" name="fotos[]" class="hidden" type="file" multiple />
      <label class="new_post_new_fhotos_btn" for="fotos"><img src="{% static 'img/newpost/new_block_photo.svg' %}?v={{static_version}}"
          alt="добавить фото" /></label>
          
    </div>
    <div class="temp_class_1 tags_input_wrapper">
      <input class="new_post_tags" placeholder="От 2 до 20 тегов через запятую" value="{% for tag in post_data.tags %}{{tag}}, {% endfor %}"/>

    </div>


    <div class="newpost_tagsgroup">
      <p>
        <input type="checkbox" value="nsfw" id="checkbox_nsfw" {% if 'nsfw' in post_data.main_tags %}checked{% endif %} /><label for="checkbox_nsfw"
                >NSFW (not safe for work) эротика или “глубже” ;)</label
              >
            </p>
            <p>
              <input type="checkbox" value="жесть" id="checkbox_gore" {% if 'жесть' in post_data.main_tags %}checked{% endif %} /><label for="checkbox_gore"
                >Жесть - кровь, мясо, расчлененка и другой подобный
                контент</label
              >
            </p>
            <p>
              <input type="checkbox" value="политика" id="checkbox_politic" {% if 'политика' in post_data.main_tags %}checked{% endif %} /><label
                for="checkbox_politic"
                >Политика - любой текст/картинка/новость связанная с какой либо
                страной или её политическим деятелем</label
              >
            </p>
            <p>
              <input type="checkbox" value="мое" id="checkbox_mine" {% if 'мое' in post_data.main_tags %}checked{% endif %} /><label for="checkbox_mine"
                >Мое - если этот текст/картинку написали вы, можете смело жать
                сюда</label
              >
      </p>
    </div>

    <div class="newpost_footer_btns">
      <span class="temp_class_1 newpost_footer_btn" id="nullify_post_btn">Отчистить</span>
      <span class="temp_class_1 newpost_footer_btn publish">Опубликовать</span>
      <span class="temp_class_1 newpost_footer_btn" id="preview_post_btn">Предпросмотр</span>
    </div>
  </form>

{% endblock content %}


{% block script %}

  {{ block.super }}
  {% include "newpost/setting_js.html" %}
  <script src="{% static 'js/newpost/newpost.js' %}?v={{js_version}}"></script>
  <script src="{% static 'js/newpost/add_video.js' %}?v={{js_version}}"></script>
  

{% endblock script %}